# Core web framework
fastapi[standard]
uvicorn[standard]
python-multipart
gunicorn

# Image / OCR / PDF processing
easyocr
pillow
pdfminer.six
pdfplumber
pdf2image

pi-heif
# Data
numpy
pandas
tabulate

marker-pdf

docling
docling-surya

gunicorn